$randomDuration: random(40) + 20s; // Generates a random number between 20 and 60
$randomTopTwo: random(28) - 4%; // Generates a random number between -4 and 24
$randomTopThree: random(28) - 4%; // Generates a random number between -4 and 24
$randomTopFour: random(28) - 4%; // Generates a random number between -4 and 24

header {
    position: relative;
    z-index: -9;
    width: 100%;
    .cloud {
        position: relative;
        animation: clouds alternate infinite;
        opacity: 0.7;
        width: 100%;
        &.one,
        &.two,
        &.three,
        &.four {
            position: absolute;
            animation-duration: $randomDuration;
            @include mobile {
                left: unset;
            }
        }
        & div {
            position: absolute;
            top: 50px;
            left: 250px;
            background: inherit;
            height: 90px;
            width: 140px;
            background: white;
            border-radius: 100%;
        }
        & div:nth-child(1) {
            transform: translate(0, 15%);
        }
        & div:nth-child(2) {
            transform: translate(20%, 25%);
        }
        & div:nth-child(3) {
            transform: translate(10%, -15%);
        }
        & div:nth-child(4) {
            transform: translate(30%, -10%);
        }
        & div:nth-child(5) {
            transform: translate(40%, 20%);
        }
    }
    .one {
        top: 0;
        left: -25%;
        @include mobile {
            right: 100%;
        }
    }
    .two {
        top: $randomTopTwo;
        left: -30%;
        animation-delay: 2s;
        scale: 1.8;
        @include mobile {
            right: 110%;
            margin-top: $randomTopTwo;
        }
    }
    .three {
        top: $randomTopThree;
        left: -35%;
        animation-delay: 5s;
        transform: scale(1.5);
        scale: 1.5;
        @include mobile {
            margin-top: $randomTopThree;
            right: 125%;
        }
    }
    .four {
        top: $randomTopFour;
        left: -40%;
        animation-delay: 8s;
        transform: scale(1.2);
        scale: 1.2;
        @include mobile {
            right: 135%;
            margin-top: $randomTopFour;
        }
    }
}
@keyframes clouds {
    100% {
        transform: translate(120%);
    }
}
