$randomDuration: min(45, 50) + 1s; // Generates a random duration between 20s and 60s
$randomTopTwo: random(28) - 4%; // Generates a random percentage between -4% and 24%
$randomTopThree: random(28) - 4%; // Generates a random percentage between -4% and 24%
$randomTopFour: random(28) - 4%; // Generates a random percentage between -4% and 24%
// Mobile Randomness
$mobileTop: min(0%, random(50)); // Generates a random number between 0 and 50
$mobileTopOne: min(10%, min(20, random(50))); // Ensures a difference of at least 10 and does not exceed 50%
$mobileTopTwo: min(20%, min(30, random(50))); // Ensures a difference of at least 10 and does not exceed 50%
$mobileTopThree: min(25%, min(40, random(50))); // Ensures a difference of at least 10 and does not exceed 50%
$mobileTopFour: min(30%, min(30, random(50)));
header {
    position: fixed;
    height: 50%;
    width: 100%;
    overflow: hidden;
    z-index: -9;
    @include mobile {
        height: 70%;
    }
    .cloud {
        position: relative;
        animation: clouds alternate infinite;
        opacity: 0.7;
        width: 100%;
        &.one,
        &.two,
        &.three,
        &.four {
            position: absolute;
            animation-duration: $randomDuration;
        }
        & div {
            position: absolute;
            top: 50px;
            left: 250px;
            background: inherit;
            height: 90px;
            width: 140px;
            background: white;
            border-radius: 100%;
        }
        & div:nth-child(1) {
            transform: translate(0, 15%);
        }
        & div:nth-child(2) {
            transform: translate(20%, 25%);
        }
        & div:nth-child(3) {
            transform: translate(10%, -15%);
        }
        & div:nth-child(4) {
            transform: translate(30%, -10%);
        }
        & div:nth-child(5) {
            transform: translate(40%, 20%);
        }
    }
    .one {
        top: 0;
        left: -25%;
        @include mobile {
            top: $mobileTopOne;
            left: -100%;
        }
    }
    .two {
        top: $randomTopTwo;
        left: -30%;
        animation-delay: 2s;
        scale: 1.8;
        @include mobile {
            top: $mobileTopTwo;
            left: -145%;
        }
    }
    .three {
        top: $randomTopThree;
        left: -35%;
        animation-delay: 5s;
        transform: scale(1.5);
        scale: 1.5;
        @include mobile {
            top: $mobileTopThree;
            left: -165%;
        }
    }
    .four {
        top: $randomTopFour;
        left: -40%;
        animation-delay: 8s;
        transform: scale(1.2);
        scale: 1.2;
        @include mobile {
            top: $mobileTopFour;
            left: -135%;
        }
    }
}
@keyframes clouds {
    100% {
        transform: translate(150%);
    }
}