:root {
  --svg-wave: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 128'%3E%3Cpath d='M0 48c237-62 403-63 640 0 237 62 403 62 640 0v80H0V48z'/%3E%3C/svg%3E");
  --waves-width: 640px;
  --waves-height: 64px;
  --anim-duration: 5s;
  --max-width: 100%;
  --blue: #00a8ff;
  --blue-siw: #00b5e2;
  --blue-siw: hsl(192, 100%, 44.3%);
  --filter-black-to-blue: invert(48%) sepia(79%) saturate(2881%) hue-rotate(175deg) brightness(103%) contrast(107%);
  --filter-black-to-blue-siw: invert(61%) sepia(80%) saturate(3783%) hue-rotate(156deg) brightness(99%) contrast(101%);
}

html {
  font-size: 10px;
  height: 100%;
}
html body {
  background: #f5d6b4;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

main {
  height: 100%;
  cursor: pointer;
}

header {
  position: relative;
  z-index: -9;
  width: 100%;
}
header .cloud {
  position: relative;
  animation: clouds alternate infinite;
  opacity: 0.7;
  width: 100%;
}
header .cloud div {
  position: absolute;
  top: 50px;
  left: 250px;
  background: inherit;
  height: 90px;
  width: 140px;
  background: white;
  border-radius: 100%;
}
header .cloud div:nth-child(1) {
  transform: translate(0, 15%);
}
header .cloud div:nth-child(2) {
  transform: translate(20%, 25%);
}
header .cloud div:nth-child(3) {
  transform: translate(10%, -15%);
}
header .cloud div:nth-child(4) {
  transform: translate(30%, -10%);
}
header .cloud div:nth-child(5) {
  transform: translate(40%, 20%);
}
header .one,
header .two,
header .three,
header .four {
  position: absolute;
  animation-duration: 22s;
}
header .one {
  top: 0;
  left: -25%;
}
header .two {
  top: -1%;
  left: -30%;
  animation-delay: 2s;
  scale: 1.8;
}
header .three {
  top: -3%;
  left: -35%;
  animation-delay: 5s;
  transform: scale(1.5);
  scale: 1.5;
}
header .four {
  top: 11%;
  left: -40%;
  animation-delay: 8s;
  transform: scale(1.2);
  scale: 1.2;
}

@keyframes clouds {
  100% {
    transform: translate(120%);
  }
}
/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  header .cloud div {
    height: 10%;
    width: 10%;
  }
  .one {
    left: -10%;
  }
  .two {
    left: -15%;
  }
  .three {
    left: -15%;
  }
  .four {
    left: -20%;
  }
}
.zoro {
  position: relative;
  opacity: 0;
  width: 200px;
  height: 200px;
  animation: spin-zoro 1.5s forwards ease-in;
  animation-delay: 1.7s;
}
.zoro .sword {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 25px;
  background: #000;
  border: 5px solid #000;
  border-radius: 0 0 40px 0;
  z-index: -2;
}
@media only screen and (max-width: 1023px) {
  .zoro .sword {
    left: 15%;
  }
}
.zoro .sword.long {
  top: 0;
  width: 250px;
  opacity: 0;
}
.zoro .sword.long:nth-of-type(2) {
  left: unset;
  right: -50%;
  top: 50%;
  border-radius: 0 40px 0 0;
}
@media only screen and (max-width: 1023px) {
  .zoro .sword.long:nth-of-type(2) {
    right: -15%;
  }
}
.zoro .sword.long:nth-of-type(2):after {
  top: 10px;
  left: -10px;
  transform: scale(1, -1);
}
.zoro .sword.long:nth-of-type(2):before {
  top: 14px;
  transform: scale(1, -1);
}
.zoro .sword.long:after {
  width: 246px;
}
.zoro .sword.long .hilt {
  width: 50px;
  height: 20px;
  background: #f3d31c;
  position: absolute;
  top: -2.5px;
  right: 100%;
  border: 5px solid #000;
  border-right: 0;
  z-index: -1;
}
.zoro .sword.long .hilt > i:first-child {
  position: absolute;
  top: -50%;
  left: 35%;
  width: 20px;
  height: 70px;
  border: 5px solid #000;
  background: #f3d31c;
  transform: translate(25%, -25%);
  z-index: 9;
}
.zoro .sword.long .hilt > i:last-child {
  position: absolute;
  left: -45%;
  top: -25%;
  width: 10px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: 5px solid #000;
  z-index: -2;
  background-color: #f3d31c;
}
.zoro .sword:before {
  content: "";
  position: absolute;
  right: 1.5px;
  top: 0px;
  border-top: 0px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 5px solid #fff;
}
.zoro .sword:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 146px;
  height: 25px;
  box-shadow: 10px 10px 0 0 #fff;
  border-radius: 0 0 80px 0;
  z-index: -2;
}
.zoro .sword:not(.long) > .hilt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: -5px;
  right: 100%;
  width: inherit;
  height: inherit;
  background: #fff;
  border: 5px solid #000;
}
.zoro .sword:not(.long) > .hilt:before {
  content: "";
  position: absolute;
  left: -15%;
  top: -20%;
  width: 25px;
  height: 100%;
  border-radius: 40%;
  border: 5px solid #000;
  z-index: -1;
  background-color: #f3d31c;
}
.zoro .sword:not(.long) > .hilt > i {
  display: block;
  width: 4px;
  height: 200%;
  background: #000;
  transform: rotate(58deg) skew(4deg);
}
.zoro .sword:not(.long) > .hilt > i:first-child {
  margin-left: 13px;
}
.zoro .sword:not(.long) > .hilt > i:before {
  content: "";
  display: block;
  height: 100%;
  width: inherit;
  background: inherit;
  transform: rotate(-110deg) skew(0deg);
}
.zoro .hat {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 120px;
  border-radius: 50%;
  background: #000;
  border: 4px solid black;
  z-index: 2;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .zoro .hat {
    left: 15%;
  }
}
.zoro .face {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 65px;
  border: 4px solid black;
  border-radius: 0px 0px 100px 100px;
  background: #fff;
  z-index: 9;
}
@media only screen and (max-width: 1023px) {
  .zoro .face {
    left: 15%;
  }
}
.zoro .face:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
}
.zoro .face > i {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, -40%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #000;
}
.zoro .face > i:last-of-type {
  left: unset;
  right: 0;
  transform: translate(-25%, -40%);
}
.zoro .mouth {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 100px;
  border: 4px solid black;
  border-radius: 50% 50% 50px 50px;
  background: #fff;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .zoro .mouth {
    left: 15%;
  }
}
.zoro .mouth:before, .zoro .mouth:after {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 100%;
  height: 50px;
  border: 4px solid black;
  border-radius: 40%;
}
.zoro .mouth:after {
  height: 100px;
  width: 125px;
  top: -35%;
  left: -25%;
  border-radius: 45%;
}
.zoro .mouth > i {
  position: absolute;
  top: 0;
  left: 50%;
  height: 70%;
  width: 4px;
  background: black;
}
.zoro .mouth > i:first-child {
  left: 20%;
  height: 67%;
  transform: skew(-5deg);
}
.zoro .mouth > i:last-child {
  transform: skew(5deg);
  left: unset;
  right: 20%;
  height: 69%;
}

.dot:after {
  content: "ONE PIECE";
}

.luffy {
  position: relative;
  opacity: 0;
  width: 200px;
  height: 200px;
  margin: 0;
}
.luffy .hat-top {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 120px;
  border-radius: 50%;
  background: #ffcc00;
  border: 4px solid black;
  z-index: 2;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .luffy .hat-top {
    left: 15%;
  }
}
.luffy .hat-top i:first-of-type {
  position: absolute;
  top: 17px;
  left: 30px;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background: black;
  transform: skew(-30deg);
}
.luffy .hat-top i:first-of-type:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 13px;
  border-radius: 50%;
  background: black;
  transform: skew(10deg);
}
.luffy .hat-top i:nth-of-type(2) {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 5px;
  height: 8px;
  border-radius: 50%;
  background: black;
  transform: skew(-31deg);
}
.luffy .hat-top i:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 8px;
  border-radius: 50%;
  background: black;
  transform: skew(15deg);
}
.luffy .hat-top i:nth-of-type(3) {
  position: absolute;
  top: 25px;
  left: 48px;
  width: 5px;
  height: 7px;
  border-radius: 50%;
  background: black;
  transform: skew(-32deg);
}
.luffy .hat-top i:nth-of-type(3):before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background: black;
  transform: skew(10deg);
}
.luffy .hat-top i:nth-of-type(4) {
  position: absolute;
  top: 25px;
  left: 90px;
  width: 5px;
  height: 7px;
  border-radius: 50%;
  background: black;
  transform: skew(32deg);
}
.luffy .hat-top i:nth-of-type(4):before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background: black;
  transform: skew(-20deg);
}
.luffy .hat-top i:nth-of-type(5) {
  position: absolute;
  top: 19px;
  left: 97px;
  width: 5px;
  height: 8px;
  border-radius: 50%;
  background: black;
  transform: skew(39deg);
}
.luffy .hat-top i:nth-of-type(5):before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 12px;
  border-radius: 50%;
  background: black;
  transform: skew(-20deg);
}
.luffy .bone {
  position: absolute;
  top: -25%;
  left: 50%;
  width: 20px;
  height: 280px;
  background: #ffffff;
  border: 4px solid black;
  border-top: 0;
  border-bottom: 0;
  transform: rotate(50deg);
}
@media only screen and (max-width: 1023px) {
  .luffy .bone {
    left: 15%;
  }
}
.luffy .bone.b {
  transform: rotate(-50deg);
  left: unset;
  right: 50%;
}
@media only screen and (max-width: 1023px) {
  .luffy .bone.b {
    left: 0;
    right: unset;
  }
}
.luffy .bone:after, .luffy .bone:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -22px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid black;
  z-index: -1;
}
.luffy .bone:before {
  left: unset;
  right: -22px;
}
.luffy .bone > div:first-child {
  position: absolute;
  top: 0;
  width: 20px;
  height: 55px;
  background: #fff;
}
.luffy .bone > div:last-child {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 55px;
  background: #fff;
}
.luffy .bone > div:last-child:after, .luffy .bone > div:last-child:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -22px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid black;
  z-index: -1;
}
.luffy .bone > div:last-child:before {
  left: unset;
  right: -22px;
}
.luffy .hat {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 10px;
  background: #ffcc00;
  border-radius: 20px;
  border: 4px solid black;
  z-index: 10;
}
@media only screen and (max-width: 1023px) {
  .luffy .hat {
    left: 15%;
  }
}
.luffy .ribbon {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 17px;
  border-top: 4px solid black;
  z-index: 5;
  background: red;
}
.luffy .face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 65px;
  border: 4px solid black;
  border-radius: 0px 0px 100px 100px;
  background: #fff;
  z-index: 9;
}
@media only screen and (max-width: 1023px) {
  .luffy .face {
    left: 15%;
  }
}
.luffy .face:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 15px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.luffy .face > i {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}
.luffy .face > i:last-child {
  left: unset;
  right: 10%;
}
.luffy .mouth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
  height: 110px;
  border: 4px solid black;
  border-radius: 50% 50% 50px 50px;
  background: #fff;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .luffy .mouth {
    left: 15%;
  }
}
.luffy .mouth:before, .luffy .mouth:after {
  content: "";
  position: absolute;
  top: 10%;
  left: -5%;
  width: 100%;
  height: 50px;
  border: 4px solid black;
  border-radius: 50%;
}
.luffy .mouth:after {
  height: 100px;
  width: 125px;
  top: -20%;
  left: -20%;
}
.luffy .mouth > i {
  position: absolute;
  top: 0;
  left: 50%;
  height: 75%;
  width: 4px;
  background: black;
}
.luffy .mouth > i:first-child {
  left: 20%;
  height: 70%;
  transform: skew(-10deg);
}
.luffy .mouth > i:last-child {
  transform: skew(10deg);
  left: unset;
  right: 20%;
  height: 70%;
}

footer {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  background-color: var(--blue-siw);
  text-align: center;
  height: 100%;
  z-index: -2;
}
@media only screen and (max-width: 1023px) {
  footer {
    width: 100%;
  }
}
footer .waves {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: var(--waves-height);
  top: calc(var(--waves-height) * -1);
  left: 0;
  overflow: hidden;
}
footer .waves li {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--waves-height);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-image: var(--svg-wave);
  background-size: var(--waves-width) var(--waves-height);
  background-repeat: repeat-x;
  animation: animateWave var(--anim-duration) linear infinite;
  filter: var(--filter-black-to-blue-siw);
}

@keyframes animateWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: var(--waves-width);
  }
}
.waves li:nth-child(1) {
  bottom: -15px;
}

.waves li:nth-child(2) {
  bottom: -7px;
  opacity: 0.7;
}

.waves li:nth-child(3) {
  bottom: -5px;
  opacity: 0.5;
}

.waves li:nth-child(4) {
  opacity: 0.3;
}

.waves li:nth-child(even) {
  animation-direction: reverse;
}

.waves li:nth-child(n+3) {
  background-size: calc(var(--waves-width) / 2);
  background-image: var(--svg-wave), linear-gradient(to top, black 50%, transparent 50%);
}

.straw-hat-pirates {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 200px;
}
@media only screen and (max-width: 1023px) {
  .straw-hat-pirates {
    position: unset;
    flex-direction: column;
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */